In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# Data collecting

In [2]:
data = pd.read_excel("spillway.xlsx")

# Data visualization

In [3]:
data.head(10)

,MONTH,DATE,MAX,MIN,CURRENT,GROSS,DEAD,AVAILABLE,Spillway Discharge,BOTTOM OUTLET,...,SPILLWAY SILL LEVEL,Sleeve Valve Discharge (MCM),Unnamed: 19,HMIS,Inflow cumulative,Unnamed: 22,Power Cumulative (MCM),Total Out flow Cumulative (MCM),Unnamed: 25,Unnamed: 26
0,December,2014-12-29,438.0,370,438.09,722.0,34.0,NaN,NaN,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,December,2014-12-30,438.0,370,438.02,722.0,34.0,NaN,NaN,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,December,2014-12-31,438.0,370,438.00,722.0,34.0,NaN,NaN,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,January,2015-01-01,438.0,370,438.01,722.0,34.0,NaN,9.76,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,January,2015-01-02,438.0,370,437.98,722.0,34.0,NaN,6.06,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,January,2015-01-03,438.0,370,437.98,722.0,34.0,NaN,2.34,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,January,2015-01-04,438.0,370,438.00,722.0,34.0,NaN,2.73,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,January,2015-01-05,438.0,370,437.98,722.0,34.0,NaN,3.03,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,January,2015-01-06,438.0,370,437.97,722.0,34.0,NaN,NaN,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,January,2015-01-07,438.0,370,438.01,722.0,34.0,NaN,NaN,NaN,...,430.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns

Index(['MONTH', 'DATE', 'MAX', 'MIN', 'CURRENT', 'GROSS', 'DEAD', 'AVAILABLE',
       'Spillway Discharge', 'BOTTOM OUTLET', 'Sleeve Valve', 'POWER',
       'TOTAL ENERGY GENERATED (GWh)', 'TOTAL OUT FLOW (MCM)',
       'INFLOW \n(MCM)', 'RAIN FALL\nmm',
       'AVAILABLE \nPERCENTAGE ON\nACTIVE  STORAGE', 'SPILLWAY SILL LEVEL',
       'Sleeve Valve Discharge (MCM)', 'Unnamed: 19', 'HMIS',
       'Inflow cumulative', 'Unnamed: 22', 'Power Cumulative (MCM)',
       'Total Out flow Cumulative (MCM)', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')

In [5]:
data['Spillway Discharge'].unique()

array([      nan, 9.760e+00, 6.060e+00, 2.340e+00, 2.730e+00, 3.030e+00,
       1.191e+01, 2.743e+01, 4.590e+00, 8.720e+00, 1.499e+01, 5.230e+00,
       9.820e+00, 4.180e+00, 2.494e+01, 7.120e+00, 5.340e+00, 3.590e+00,
       5.760e+00, 2.200e+00, 3.700e+00, 0.000e+00, 8.140e+00, 8.420e+00,
       3.650e+00, 6.880e+00, 5.240e+00, 2.530e+00, 1.735e+01, 8.430e+00,
       6.460e+00, 2.150e+00, 2.000e-02, 1.000e-03, 2.000e-03, 6.000e-03,
       5.000e-02, 5.830e+00, 6.050e+00, 1.838e+01, 8.160e+00, 2.270e+00,
       5.610e+00, 1.075e+01, 3.337e+01, 3.152e+01, 2.696e+01, 1.348e+01,
       1.560e+01, 1.026e+01, 7.050e+00, 1.059e+01, 4.860e+00, 5.280e+00,
       2.620e+00, 7.000e-01, 2.311e+00, 7.642e+00, 4.418e+00, 1.919e+00,
       1.280e+01, 5.400e+00, 3.300e-01, 7.080e+00, 1.020e+00, 2.520e+00,
       5.700e+00, 2.275e+01, 2.100e+00, 3.770e+00, 3.400e-01, 4.300e+00,
       1.530e+00, 1.000e-02])

# Data preproccesing

## Null values

In [6]:
data.isnull().sum()

MONTH                                         2823
DATE                                             0
MAX                                              0
MIN                                              0
CURRENT                                          6
GROSS                                           59
DEAD                                           537
AVAILABLE                                      584
Spillway Discharge                            2149
BOTTOM OUTLET                                 2476
Sleeve Valve                                  2301
POWER                                           31
TOTAL ENERGY GENERATED (GWh)                    31
TOTAL OUT FLOW (MCM)                            29
INFLOW \n(MCM)                                 654
RAIN FALL\nmm                                  988
AVAILABLE \nPERCENTAGE ON\nACTIVE  STORAGE    1318
SPILLWAY SILL LEVEL                            235
Sleeve Valve Discharge (MCM)                  3103
Unnamed: 19                                   2730
HMIS                                          1633
Inflow cumulative                             1460
Unnamed: 22                                   3226
Power Cumulative (MCM)                        1829
Total Out flow Cumulative (MCM)               2830
Unnamed: 25                                   3170
Unnamed: 26                                   3252
dtype: int64

In [7]:
columns_to_delete = ['MONTH', 'MAX', 'MIN', 'AVAILABLE', 'Unnamed: 19', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 22', 'POWER',
       'TOTAL ENERGY GENERATED (GWh)', 'AVAILABLE', 'AVAILABLE \nPERCENTAGE ON\nACTIVE  STORAGE', 'Inflow cumulative', 'Power Cumulative (MCM)',
       'Total Out flow Cumulative (MCM)']

In [8]:
data.drop(columns=columns_to_delete, inplace=True)

In [9]:
data.head()

,DATE,CURRENT,GROSS,DEAD,Spillway Discharge,BOTTOM OUTLET,Sleeve Valve,TOTAL OUT FLOW (MCM),INFLOW \n(MCM),RAIN FALL\nmm,SPILLWAY SILL LEVEL,Sleeve Valve Discharge (MCM),HMIS
0,2014-12-29,438.09,722.0,34.0,NaN,NaN,NaN,0.00,NaN,NaN,430.0,NaN,NaN
1,2014-12-30,438.02,722.0,34.0,NaN,NaN,NaN,0.00,NaN,NaN,430.0,NaN,NaN
2,2014-12-31,438.00,722.0,34.0,NaN,NaN,NaN,0.00,NaN,NaN,430.0,NaN,NaN
3,2015-01-01,438.01,722.0,34.0,9.76,NaN,NaN,21.63,NaN,0,430.0,NaN,NaN
4,2015-01-02,437.98,722.0,34.0,6.06,NaN,NaN,17.21,NaN,0,430.0,NaN,NaN

### Remove null values

In [10]:
data['Spillway Discharge'].fillna(0, inplace=True)

In [11]:
data.head()

,DATE,CURRENT,GROSS,DEAD,Spillway Discharge,BOTTOM OUTLET,Sleeve Valve,TOTAL OUT FLOW (MCM),INFLOW \n(MCM),RAIN FALL\nmm,SPILLWAY SILL LEVEL,Sleeve Valve Discharge (MCM),HMIS
0,2014-12-29,438.09,722.0,34.0,0.00,NaN,NaN,0.00,NaN,NaN,430.0,NaN,NaN
1,2014-12-30,438.02,722.0,34.0,0.00,NaN,NaN,0.00,NaN,NaN,430.0,NaN,NaN
2,2014-12-31,438.00,722.0,34.0,0.00,NaN,NaN,0.00,NaN,NaN,430.0,NaN,NaN
3,2015-01-01,438.01,722.0,34.0,9.76,NaN,NaN,21.63,NaN,0,430.0,NaN,NaN
4,2015-01-02,437.98,722.0,34.0,6.06,NaN,NaN,17.21,NaN,0,430.0,NaN,NaN

In [12]:
data['BOTTOM OUTLET'].fillna(0, inplace=True)

In [13]:
data['Sleeve Valve'].fillna(0, inplace=True)

In [14]:
data.head()

,DATE,CURRENT,GROSS,DEAD,Spillway Discharge,BOTTOM OUTLET,Sleeve Valve,TOTAL OUT FLOW (MCM),INFLOW \n(MCM),RAIN FALL\nmm,SPILLWAY SILL LEVEL,Sleeve Valve Discharge (MCM),HMIS
0,2014-12-29,438.09,722.0,34.0,0.00,0.0,0.0,0.00,NaN,NaN,430.0,NaN,NaN
1,2014-12-30,438.02,722.0,34.0,0.00,0.0,0.0,0.00,NaN,NaN,430.0,NaN,NaN
2,2014-12-31,438.00,722.0,34.0,0.00,0.0,0.0,0.00,NaN,NaN,430.0,NaN,NaN
3,2015-01-01,438.01,722.0,34.0,9.76,0.0,0.0,21.63,NaN,0,430.0,NaN,NaN
4,2015-01-02,437.98,722.0,34.0,6.06,0.0,0.0,17.21,NaN,0,430.0,NaN,NaN

In [15]:
data['INFLOW \n(MCM)'].fillna(0, inplace=True)

In [16]:
data['RAIN FALL\nmm'].fillna(0, inplace=True)

In [17]:
data['Sleeve Valve Discharge (MCM)'].fillna(0, inplace=True)

In [18]:
data['HMIS'].fillna(0, inplace=True)

In [19]:
data.head()

,DATE,CURRENT,GROSS,DEAD,Spillway Discharge,BOTTOM OUTLET,Sleeve Valve,TOTAL OUT FLOW (MCM),INFLOW \n(MCM),RAIN FALL\nmm,SPILLWAY SILL LEVEL,Sleeve Valve Discharge (MCM),HMIS
0,2014-12-29,438.09,722.0,34.0,0.00,0.0,0.0,0.00,0.0,0,430.0,0.0,0
1,2014-12-30,438.02,722.0,34.0,0.00,0.0,0.0,0.00,0.0,0,430.0,0.0,0
2,2014-12-31,438.00,722.0,34.0,0.00,0.0,0.0,0.00,0.0,0,430.0,0.0,0
3,2015-01-01,438.01,722.0,34.0,9.76,0.0,0.0,21.63,0.0,0,430.0,0.0,0
4,2015-01-02,437.98,722.0,34.0,6.06,0.0,0.0,17.21,0.0,0,430.0,0.0,0

In [20]:
data.dropna(inplace=True)

In [21]:
data.isnull().sum()

DATE                            0
CURRENT                         0
GROSS                           0
DEAD                            0
Spillway Discharge              0
BOTTOM OUTLET                   0
Sleeve Valve                    0
TOTAL OUT FLOW (MCM)            0
INFLOW \n(MCM)                  0
RAIN FALL\nmm                   0
SPILLWAY SILL LEVEL             0
Sleeve Valve Discharge (MCM)    0
HMIS                            0
dtype: int64

In [22]:
data["HMIS"].unique()

array([0, 430.274, 430.30899999999997, 430.294, 430.231, 430.198, 430.22,
       430.243, 430.25, 430.264, 430.201, 430.133, 430.104, 430.073,
       430.065, 430.091, 430.085, 430.09000000000003, 430.027, 434.466,
       434.299, 433.903, 433.526, 433.273, 432.972, 432.63, 432.249,
       431.895, 431.609, 431.368, 431.099, 424.599, 429.435, 430.052,
       430.666, 431.172, 431.777, 432.304, 432.436, 432.67, 410, 435.071,
       435.003, 434.852, 434.742, 434.661, 434.574, 434.427, 434.204,
       433.98, 433.807, 433.767, 433.70799999999997, 433.702, 433.72,
       433.696, 433.564, 433.249, 433.02, 433.094, 433.14300000000003,
       433.145, 433.133, 433.489, 433.558, 433.485, 433.425, 433.338,
       433.098, 432.897, 432.75, 432.557, 432.4, 432.298, 432.16, 432.028,
       432.016, 432.021, 431.981, 431.989, 432.006, 432.017, 432.025,
       432.036, 432.141, 432.234, 432.224, 432.154, 432.012, 431.844,
       431.727, 431.614, 424.977, 424.814, 424.629, 424.396, 424.257,
       424.091, 423.973, 423.732, 423.625, 423.451, 423.228, 422.964,
       422.841, 422.55, 422.273, 422.063, 422.083, 422.106, 422.35,
       422.606, 422.636, 422.901, 422.91, 422.885, 422.833, 422.898,
       422.909, 423.259, 423.285, 423.887, 424.777, 424.854, 424.837,
       424.842, 424.698, 424.691, 424.485, 424.289, 424.278, 424.322,
       424.358, 424.304, 424.141, 423.99, 423.95, 423.874, 423.74,
       423.628, 423.558, 423.491, 423.369, 423.323, 423.111, 423.046,
       423.127, 423.163, 423.225, 423.267, 423.212, 423.078, 423.009,
       422.872, 422.738, 422.584, 422.452, 422.315, 422.175, 422.059,
       422.849, 423.019, 423.068, 423.14300000000003, 423.334, 423.352,
       423.445, 423.414, 423.383, 423.366, 423.354, 423.53, 423.578,
       423.584, 423.579, 423.572, 423.596, 423.591, 423.608, 423.601,
       423.631, 423.789, 423.771, 423.683, 423.658, 423.602, 423.527,
       423.461, 423.381, 423.336, 423.286, 423.39300000000003, 423.318,
       423.278, 423.275, 423.425, 423.595, 423.996, 424.288, 425.034,
       426.323, 427.165, 428.285, 429.891, 430.297, 430.663, 430.941,
       431.183, 431.48, 431.651, 431.664, 431.562, 431.32, 431.005,
       430.762, 430.596, 430.363, 429.775, 429.453, 429.05, 428.73,
       428.37, 427.904, 427.681, 427.68, 427.683, 427.682, 427.685,
       427.684, 427.762, 428.636, 429.315, 429.815, 430.156, 430.418,
       430.345, 430.28, 430.165, 430.075, 430.048, 430.016, 429.848,
       429.682, 429.498, 429.298, 428.898, 428.497, 428.144, 427.798,
       427.686, 428.391, 429.056, 429.461, 429.72, 429.979, 429.917,
       429.884, 429.756, 429.715, 429.636, 429.511, 429.368, 429.191,
       429.014, 428.89, 428.71, 428.536, 428.359, 428.179, 427.965,
       427.809, 427.767, 428.19, 428.334, 428.205, 428.119, 428.005,
       427.906, 427.844, 427.697, 427.69, 427.484, 427.473, 428.026,
       428.162, 428.295, 428.343, 428.302, 428.297, 428.327, 428.268,
       428.24, 428.219, 428.062, 428.019, 428.407, 428.934, 429.305,
       429.773, 430.195, 430.3, 430.278, 430.182, 430.068, 430.012,
       430.008, 429.894, 429.675, 429.222, 428.941, 428.868, 429.28,
       429.45, 429.618, 430.239, 430.285, 430.286, 430.331, 430.476,
       430.657, 430.649, 430.883, 431.044, 431.01, 431.045, 431.155,
       431.273, 432.066, 432.285, 432.387, 432.59, 432.751, 432.94,
       433.129, 433.303, 433.413, 433.462, 433.543, 433.544, 433.555,
       433.519, 433.491, 433.456, 433.416, 433.414, 433.422, 433.392,
       433.317, 433.295, 433.251, 433.112, 433.107, 433.122, 433.101,
       433.103, 433.1, 433.093, 433.059, 433.082, 433.073, 433.049,
       433.018, 432.986, 432.933, 432.861, 432.787, 432.668, 432.556,
       432.472, 432.359, 432.219, 432.153, 432.083, 431.982, 431.87,
       431.757, 431.704, 431.585, 431.539, 431.412, 431.304, 431.227,
       431.158, 431.078, 431.132, 431.07, 431.018, 430.936, 430.877,
       430.895, 430.853, 430.827, 430.739, 430.545, 430.399, 430.176,
       429.968, 429.814, 429.721, 429.606, 429.393, 429.22, 429.042,
       428.851, 428.758, 428.752, 428.647, 428.624, 428.541, 428.352,
       428.218, 428.037, 427.922, 427.702, 427.517, 427.315, 427.151,
       427.024, 426.96, 426.933, 426.868, 426.718, 426.582, 426.563,
       427.365, 427.896, 428.171, 428.206, 428.192, 428.147, 428.042,
       427.86, 427.812, 427.655, 427.397, 427.249, 427.059, 426.922,
       426.738, 426.607, 426.513, 426.461, 426.864, 427.108, 426.956,
       426.871, 426.684, 426.54, 426.512, 426.51, 426.468, 426.619,
       426.767, 428.31, 429.302, 429.711, 430.005, 429.954, 429.925,
       429.875, 429.656, 429.964, 431.396, 432.85, 435.274, 435.135,
       435.777, 435.638, 435.488, 435.358, 435.392, 435.604, 435.469,
       435.322, 435.112, 434.861, 434.591, 434.383, 434.123, 433.748,
       433.353, 433.116, 432.759, 432.386, 432.126, 431.722, 431.41,
       430.879, 430.602, 430.336, 430.332, 430.2, 430.199, 432.095,
       432.741, 433.032, 433.277, 433.378, 433.308, 433.09, 432.982,
       432.729, 432.415, 432.107, 431.909, 431.683, 431.564, 431.59,
       431.487, 431.946, 431.999, 432.035, 431.863, 431.662, 431.441,
       431.398, 431.039, 430.742, 430.409, 430.129, 429.784, 429.764,
       430.022, 430.037, 429.832, 431.244, 431.467, 431.405, 431.359,
       431.174, 430.974, 430.826, 430.612, 430.397, 430.166, 429.566,
       429.477, 429.47, 429.476, 429.463, 429.442, 429.432, 429.43,
       429.417, 429.392, 429.361, 429.351, 429.336, 429.553, 430.262,
       430.265, 430.184, 430.173, 430.035, 429.882, 429.667, 429.626,
       429.504, 429.279, 429.186, 429.244, 429.616, 431.201, 431.423,
       432.12, 432.823, 433.124, 433.254, 433.51, 433.724, 433.763,
       433.772, 433.68, 433.747, 434.974, 435.272, 435.289, 435.264,
       435.18, 435.151, 435.133, 435.017, 435.342, 435.457, 435.63,
       435.973, 436.097, 436.112, 436.333, 437.064, 437.376, 437.299,
       437.433, 438.281, 438.285, 438.244, 438.219, 438.228, 438.205,
       438.194, 438.236, 438.249, 438.156, 438.177, 438.174, 438.095,
       438.154, 438.064, 438.108, 438.072, 438.052, 438.085, 437.997,
       437.895, 437.768, 437.713, 438.007, 437.975, 438.003, 438.017,
       437.918, 437.868, 437.794, 437.644, 437.595, 437.583, 437.202,
       437.02, 436.86, 436.597, 436.452, 436.244, 435.962, 435.705,
       435.558, 435.405, 435.171, 434.878, 434.217, 433.981, 433.726,
       433.502, 433.217, 432.863, 432.501, 432.15, 431.836, 431.56,
       431.299, 430.984, 430.553, 430.269, 429.892, 429.714, 429.609,
       429.412, 429.07, 428.748, 428.382, 427.967, 427.578, 427.497,
       427.477, 427.454, 427.421, 427.199, 426.78099999999995, 426.561,
       426.446, 426.124, 423.83500000000004, 423.373, 422.937, 422.497,
       422.004, 421.65000000000003, 421.04900000000004, 420.616,
       420.12600000000003, 419.928, 419.866, 419.784, 419.765, 419.773,
       419.724, 419.553, 419.502, 419.408, 419.433, 419.46000000000004,
       419.31100000000004, 419.308, 419.136, 419.004, 418.927, 418.707,
       418.57300000000004, 418.329, 418.038, 416.956, 416.95, 416.939,
       416.925, 416.91200000000003, 416.898, 416.884, 416.873, 416.861,
       416.848, 416.832, 416.562, 416.457, 416.335, 416.04, 415.932,
       415.859, 415.623, 415.47, 415.263, 414.694, 414.369, 414.151,
       413.867, 413.194, 412.636, 412.01, 411.784, 411.333, 410.816,
       410.559, 410.528, 410.482, 410.455, 409.521, 408.878, 408.243,
       408.314, 408.26, 408.12699999999995, 408.688, 408.655, 409.025,
       410.018, 410.484, 410.632, 410.87, 411.023, 411.193, 411.234,
       410.97, 410.876, 410.807, 410.673, 410.3, 410.493, 410.65, 410.712,
       410.667, 410.497, 410.283, 410.12, 410.322, 410.464, 410.396,
       410.184, 409.934, 409.863, 409.641, 409.527, 409.551, 409.653,
       411.01, 412.79400000000004, 413.994, 414.62, 415.389, 415.955,
       416.226, 416.373, 416.579, 416.693, 416.918, 417.2, 417.449,
       417.613, 417.822, 418.158, 418.623, 419.038, 419.923, 420.554,
       421.035, 421.283, 421.513, 421.684, 421.645, 421.564, 421.469,
       421.433, 421.334, 421.264, 421.23, 421.063, 420.968, 420.704,
       420.429, 420.161, 419.859, 419.424, 419.236, 418.9, 418.622,
       418.307, 418.025, 417.677, 417.276, 416.878, 416.446, 416.023,
       415.636, 415.213, 414.839, 415.467, 415.558, 415.493, 415.209,
       414.944, 414.606, 414.247, 413.832, 413.813, 413.844, 413.677,
       413.659, 413.499, 413.471, 413.388, 413.26, 413.475, 413.397,
       413.437, 413.261, 413.79, 413.973, 414.009, 414.616, 416.829,
       417.227, 417.262, 417.506, 417.706, 434.536, 434.509, 434.396,
       434.176, 433.897, 433.585, 433.284, 433.127, 432.884, 432.382,
       432.368, 432.781, 432.612, 432.445, 432.992, 433.144, 433.484,
       433.424, 433.391, 433.327, 434.929, 437.15, 437.368, 437.423,
       437.419, 437.341, 437.173, 437.089, 437.1, 437.075, 436.898,
       436.639, 436.451, 436.233, 436.026, 435.795, 435.723, 435.445,
       435.409, 435.154, 434.853, 434.549, 434.21999999999997, 433.993,
       433.86, 433.777, 433.712, 433.521, 433.44, 433.3, 433.186,
       433.08799999999997, 432.928, 432.65299999999996, 432.339,
       432.03999999999996, 431.853, 431.68, 431.514, 431.47499999999997,
       431.866, 431.78999999999996, 431.77799999999996, 431.679, 431.637,
       433.51099999999997, 433.39, 433.304, 433.138, 432.829, 432.656,
       432.44599999999997, 432.28999999999996, 431.84499999999997,
       431.666, 431.60699999999997, 431.498, 431.371, 431.106, 430.806,
       430.49899999999997, 429.896, 429.631, 429.42199999999997, 429.329,
       429.288, 429.24199999999996, 429.192, 429.15999999999997, 429.113,
       429.066, 429.024, 428.985, 428.949, 428.909, 428.865,
       428.82599999999996, 428.782, 428.74899999999997, 428.711, 428.668,
       428.635, 428.59299999999996, 428.553, 428.514, 428.484,
       428.45099999999996, ' '], dtype=object)

In [23]:
data

,DATE,CURRENT,GROSS,DEAD,Spillway Discharge,BOTTOM OUTLET,Sleeve Valve,TOTAL OUT FLOW (MCM),INFLOW \n(MCM),RAIN FALL\nmm,SPILLWAY SILL LEVEL,Sleeve Valve Discharge (MCM),HMIS
0,2014-12-29,438.09,722.0,34.0,0.00,0.0,0.000,0.000,0.000,0,430.0,0.0,0
1,2014-12-30,438.02,722.0,34.0,0.00,0.0,0.000,0.000,0.000,0,430.0,0.0,0
2,2014-12-31,438.00,722.0,34.0,0.00,0.0,0.000,0.000,0.000,0,430.0,0.0,0
3,2015-01-01,438.01,722.0,34.0,9.76,0.0,0.000,21.630,0.000,0,430.0,0.0,0
4,2015-01-02,437.98,722.0,34.0,6.06,0.0,0.000,17.210,0.000,0,430.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3016,2023-04-02,417.84,722.0,34.0,0.00,0.0,0.057,6.698,1.758,15.3,484.0,0.0,0
3017,2023-04-03,417.48,722.0,34.0,0.00,0.0,0.057,7.006,1.506,0.9,485.0,0.0,0
3018,2023-04-04,417.08,722.0,34.0,0.00,0.0,0.057,4.665,2.375,14.5,486.0,0.0,0
3019,2023-04-05,416.91,722.0,34.0,0.00,0.0,0.057,4.408,1.578,0,487.0,0.0,0
3020,2023-04-06,416.70,722.0,34.0,0.00,0.0,0.057,7.779,1.049,0,488.0,0.0,0

In [24]:
date_column = 'DATE'  # Replace with the actual column name

# Convert the date column to a datetime object
data[date_column] = pd.to_datetime(data[date_column])

# Extract day, month, and year using the dt accessor
data['Day'] = data[date_column].dt.day
data['Month'] = data[date_column].dt.month
data['Year'] = data[date_column].dt.year

In [25]:
data

,DATE,CURRENT,GROSS,DEAD,Spillway Discharge,BOTTOM OUTLET,Sleeve Valve,TOTAL OUT FLOW (MCM),INFLOW \n(MCM),RAIN FALL\nmm,SPILLWAY SILL LEVEL,Sleeve Valve Discharge (MCM),HMIS,Day,Month,Year
0,2014-12-29,438.09,722.0,34.0,0.00,0.0,0.000,0.000,0.000,0,430.0,0.0,0,29,12,2014
1,2014-12-30,438.02,722.0,34.0,0.00,0.0,0.000,0.000,0.000,0,430.0,0.0,0,30,12,2014
2,2014-12-31,438.00,722.0,34.0,0.00,0.0,0.000,0.000,0.000,0,430.0,0.0,0,31,12,2014
3,2015-01-01,438.01,722.0,34.0,9.76,0.0,0.000,21.630,0.000,0,430.0,0.0,0,1,1,2015
4,2015-01-02,437.98,722.0,34.0,6.06,0.0,0.000,17.210,0.000,0,430.0,0.0,0,2,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3016,2023-04-02,417.84,722.0,34.0,0.00,0.0,0.057,6.698,1.758,15.3,484.0,0.0,0,2,4,2023
3017,2023-04-03,417.48,722.0,34.0,0.00,0.0,0.057,7.006,1.506,0.9,485.0,0.0,0,3,4,2023
3018,2023-04-04,417.08,722.0,34.0,0.00,0.0,0.057,4.665,2.375,14.5,486.0,0.0,0,4,4,2023
3019,2023-04-05,416.91,722.0,34.0,0.00,0.0,0.057,4.408,1.578,0,487.0,0.0,0,5,4,2023
3020,2023-04-06,416.70,722.0,34.0,0.00,0.0,0.057,7.779,1.049,0,488.0,0.0,0,6,4,2023

In [26]:
data.drop(columns=['DATE'], inplace=True)

In [27]:
data

,CURRENT,GROSS,DEAD,Spillway Discharge,BOTTOM OUTLET,Sleeve Valve,TOTAL OUT FLOW (MCM),INFLOW \n(MCM),RAIN FALL\nmm,SPILLWAY SILL LEVEL,Sleeve Valve Discharge (MCM),HMIS,Day,Month,Year
0,438.09,722.0,34.0,0.00,0.0,0.000,0.000,0.000,0,430.0,0.0,0,29,12,2014
1,438.02,722.0,34.0,0.00,0.0,0.000,0.000,0.000,0,430.0,0.0,0,30,12,2014
2,438.00,722.0,34.0,0.00,0.0,0.000,0.000,0.000,0,430.0,0.0,0,31,12,2014
3,438.01,722.0,34.0,9.76,0.0,0.000,21.630,0.000,0,430.0,0.0,0,1,1,2015
4,437.98,722.0,34.0,6.06,0.0,0.000,17.210,0.000,0,430.0,0.0,0,2,1,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3016,417.84,722.0,34.0,0.00,0.0,0.057,6.698,1.758,15.3,484.0,0.0,0,2,4,2023
3017,417.48,722.0,34.0,0.00,0.0,0.057,7.006,1.506,0.9,485.0,0.0,0,3,4,2023
3018,417.08,722.0,34.0,0.00,0.0,0.057,4.665,2.375,14.5,486.0,0.0,0,4,4,2023
3019,416.91,722.0,34.0,0.00,0.0,0.057,4.408,1.578,0,487.0,0.0,0,5,4,2023
3020,416.70,722.0,34.0,0.00,0.0,0.057,7.779,1.049,0,488.0,0.0,0,6,4,2023

In [28]:
import pickle

In [29]:
pickle.dump(data,open('data_without_cluster.pickle','wb'))

# Spillway Discharge using Water Level

In [34]:
y_data = data["Spillway Discharge"]

In [ ]:
x_data = data['CURRENT']

In [ ]:
y_data

In [ ]:
x_data

In [ ]:
X = x_data.values.reshape(-1, 1)

In [ ]:
y = y_data.values.reshape(-1, 1)

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [ ]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

In [ ]:
X_test

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [ ]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'Mean Absolute Error: {mae}')
print(f'R-squared: {r2}')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(X_train, y_train, color='blue', label='Training Data')
plt.scatter(X_test, y_test, color='green', label='Testing Data')
plt.plot(X_test, y_pred, color='red', linewidth=2, label='Regression Line')
plt.xlabel('X')
plt.ylabel('y')
plt.legend()
plt.show()

# Gate opening condition using water level

In [ ]:
X = data['CURRENT'].values.reshape(-1, 1)
y = data['Cluster'].values.reshape(-1, 1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Classification Report:\n", report)

In [ ]:
print("Gate closed : 0")
print("Gate 1 & 2 : 4")
print("Gate 3 & 4 : 1")
print("Gate 5 & 6 : 3")
print("Gate 7 & 8 : 2")

In [ ]:
print(clf.predict([["438.07"]]))

# Accuracy of prediction of gates opening with dates

In [ ]:
clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Classification Report:\n", report)